version: '3.8'

services:
  n8n:
    build: . # Use the local Dockerfile
    # image: n8nio/n8n  # Commented out in favor of the build option
    ports:
      - '5678:5678'
    volumes:
      - ~/.n8n:/home/node/.n8n
      - ./.env:/home/node/.n8n/.env
    restart: always
    environment:
      - N8N_HOST=ai.vladks.com
      - N8N_PROTOCOL=https
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 2048M
        reservations:
          cpus: '0.5'
          memory: 1024M

  nginx:
    image: nginx:alpine
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt:/etc/letsencrypt
      - ./logs:/var/log/nginx
      - ./default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - n8n
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
        reservations:
          cpus: '0.25'
          memory: 128M
